html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display:block
}
audio,canvas,video {
	display:inline-block;
	*display:inline;
	*zoom:1
}
audio:not([controls]) {
	display:none
}
[hidden] {
	display:none
}
html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	margin:0
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
a {
	color:blue
}
a:focus {
	outline:thin dotted
}
li {
	list-style:none
}
abbr[title] {
	border-bottom:none
}
b,strong {
	font-weight:700
}
i,em,dfn {
	font-style:italic
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}
ins {
	background:#ff9;
	color:#000;
	text-decoration:none
}
mark {
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:700
}
pre,code,kbd,samp {
	font-family:monospace,monospace;
	_font-family:'courier new',monospace
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
q {
	quotes:none
}
q:before,q:after {
	content:"";
	content:none
}
small {
	font-size:85%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle
}
label {
	cursor:pointer
}
input,select,textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
button,input {
	line-height:normal;
	*overflow:visible
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top;
	resize:vertical
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td {
	vertical-align:top
}
body.index .archive-item,body.archive .archive-item {
	display:none
}
body.loading {
	visibility:hidden
}
#archive-section .archive-item.text,#index .archive-item.text {
	display:block
}
body.index #archive-section,body.archive #index {
	display:none
}
body.index,body.post.text,body.archive {
}
body.index div,body.post.text div,body.archive div,body.index article,body.post.text article,body.archive article,body.index section,body.post.text section,body.archive section,body.index header,body.post.text header,body.archive header,body.index footer,body.post.text footer,body.archive footer,body.index nav,body.post.text nav,body.archive nav,body.index li,body.post.text li,body.archive li {
	position:relative
}
body.index .group:after,body.post.text .group:after,body.archive .group:after {
	display:block;
	height:0;
	font-size:0;
	content:".";
	clear:both;
	visibility:hidden
}
body.index *,body.post.text *,body.archive * {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
body.index input,body.post.text input,body.archive input,body.index textarea,body.post.text textarea,body.archive textarea {
	-webkit-font-smoothing:antialiased
}
body.index,body.post.text,body.archive,body.index input,body.post.text input,body.archive input,body.index textarea,body.post.text textarea,body.archive textarea,body.index button,body.post.text button,body.archive button {
	font-family:'PT Serif','Georgia','Times New Roman',serif
}
body.index h1,body.post.text h1,body.archive h1,body.index h2,body.post.text h2,body.archive h2 {
	font-family:'Source Sans Pro', 'Roboto', 'Playfair Display','Georgia','Times New Roman',serif
}
body.index h3,body.post.text h3,body.archive h3,body.index h4,body.post.text h4,body.archive h4,body.index header p,body.post.text header p,body.archive header p,body.index header nav,body.post.text header nav,body.archive header nav,body.index article h2.title+p,body.post.text article h2.title+p,body.archive article h2.title+p,body.index p.meta,body.post.text p.meta,body.archive p.meta,body.index a.button,body.post.text a.button,body.archive a.button,body.index a.show-header,body.post.text a.show-header,body.archive a.show-header {
	font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif
}
body.index,body.post.text,body.archive,body.index input,body.post.text input,body.archive input,body.index textarea,body.post.text textarea,body.archive textarea,body.index button,body.post.text button,body.archive button {
	color:#333;
	font-size:1em;
	line-height:1.5em
}
body.index h1,body.post.text h1,body.archive h1,body.index h2.title,body.post.text h2.title,body.archive h2.title {
	font-size:3em;
	line-height:1.125em;
	font-weight:900
}
body.index h2,body.post.text h2,body.archive h2,body.index h3,body.post.text h3,body.archive h3,body.index h4,body.post.text h4,body.archive h4 {
	padding:1em 4% .5em 4%
}
body.index h3,body.post.text h3,body.archive h3 {
	font-size:1.5em;
	font-weight:400;
	line-height:1.5em
}
body.index h4,body.post.text h4,body.archive h4,body.index p.meta,body.post.text p.meta,body.archive p.meta {
:inline-block;
	font-size:.75em;
	font-weight:700;
	letter-spacing:.175em;
	padding:.25em .75em;
	text-transform:uppercase
}
body.index a.button:hover,body.post.text a.button:hover,body.archive a.button:hover {
	background:#09c
}
body.index h1 a,body.post.text h1 a,body.archive h1 a {
	border:none;
	color:#fff
}
body.index h2 a,body.post.text h2 a,body.archive h2 a {
	border:none
}
body.index p,body.post.text p,body.archive p,body.index li,body.post.text li,body.archive li,body.index cite,body.post.text cite,body.archive cite {
	font-size:1em;
	line-height:1.5em;
	padding:.5em 4%;
	overflow:hidden;
	text-overflow:ellipsis
}
body.index ul,body.post.text ul,body.archive ul {
	margin-left:10%
}
body.index li,body.post.text li,body.archive li {
	list-style:disc
}
body.index blockquote,body.post.text blockquote,body.archive blockquote {
	border-left:10px solid #f6f6f6;
	margin:1em 4%
}
body.index hr,body.post.text hr,body.archive hr {
	border-top:1px solid #ccc;
	height:0;
	margin:2em 0;
	width:100%
}
body.index #tumblr_controls,body.post.text #tumblr_controls,body.archive #tumblr_controls {
	display:none
}
body.index,body.post.text,body.archive {
	padding:0 5%;
	background:#f6f6f6
}
body.index img,body.post.text img,body.archive img {
	margin-bottom:2em;
	width:100%
}
body.index div.container,body.post.text div.container,body.archive div.container {
	background:#fff;
	margin:0 auto;
	z-index:1
}
body.index footer,body.post.text footer,body.archive footer {
	padding:10% 0
}
body.index header,body.post.text header,body.archive header {
	background-color:#333;
	background-size:cover;
	padding-top:30%;
	z-index:2
}
body.index header div.info,body.post.text header div.info,body.archive header div.info {
	background:rgba(0,0,0,0.7);
	padding:5% 0
}
body.index header div.portrait,body.post.text header div.portrait,body.archive header div.portrait {
	border:3px solid #fff;
	position:absolute;
	display:none
}
body.index header div.portrait a,body.post.text header div.portrait a,body.archive header div.portrait a {
	display:block;
	border-width:0;
	margin:0;
	width:100%
}
body.index header div.portrait a img,body.post.text header div.portrait a img,body.archive header div.portrait a img {
	margin:0
}
body.index header h1,body.post.text header h1,body.archive header h1 {
	color:#fff;
	padding:0 4%
}
body.index header p,body.post.text header p,body.archive header p {
	color:#fff;
	padding:.5em 4% 0 4%
}
body.index header nav,body.post.text header nav,body.archive header nav {
	margin-left:4%
}
body.index header nav ul,body.post.text header nav ul,body.archive header nav ul {
	margin:0;
	padding:.5em 0 0 0
}
body.index header nav ul li,body.post.text header nav ul li,body.archive header nav ul li {
	list-style:none;
	margin:0;
	padding:.5em 0 .115em 0
}
body.index header nav ul li a,body.post.text header nav ul li a,body.archive header nav ul li a {
	border:none;
	color:#0cf;
	font-size:.75em;
	font-weight:700;
	letter-spacing:.175em;
	text-transform:uppercase
}
body.index header nav ul li a:hover,body.post.text header nav ul li a:hover,body.archive header nav ul li a:hover {
	color:#fff
}
body.index header.compact,body.post.text header.compact,body.archive header.compact {
	padding-top:0
}
body.index header.compact div.info,body.post.text header.compact div.info,body.archive header.compact div.info {
	padding:5% 0 0 0
}
body.index header.compact div.portrait,body.post.text header.compact div.portrait,body.archive header.compact div.portrait {
	display:none
}
body.index header.compact nav,body.post.text header.compact nav,body.archive header.compact nav {
	float:none;
	margin:0;
	width:100%
}
body.index header.compact nav ul,body.post.text header.compact nav ul,body.archive header.compact nav ul {
	background:#333;
	border:none;
	color:#0cf;
	margin-top:1em;
	padding:0 5%
}
body.index header.compact nav ul li,body.post.text header.compact nav ul li,body.archive header.compact nav ul li {
	display:inline-block;
	margin-right:1em;
	padding-bottom:.5em
}
body.index header.compact nav ul li a.active,body.post.text header.compact nav ul li a.active,body.archive header.compact nav ul li a.active {
	color:#fff
}
body.index.index li.current,body.post.text.index li.current,body.archive.index li.current {
	display:none
}
body.index article h2.title+p,body.post.text article h2.title+p,body.archive article h2.title+p {
	color:#999;
	padding-bottom:1.5em
}
body.index article.single .drop-cap,body.post.text article.single .drop-cap,body.archive article.single .drop-cap {
	float:left;
	font-size:5.25em;
	line-height:.8em;
	padding:0 .125em 0 0
}
body.index.index article:first-child,body.post.text.index article:first-child,body.archive.index article:first-child {
	border-bottom:10px solid #f6f6f6;
	padding-bottom:4em
}
body.index.index article:last-of-type,body.post.text.index article:last-of-type,body.archive.index article:last-of-type {
	border-bottom:10px solid #f6f6f6;
	padding-bottom:2em;
	padding-top:0
}
body.index.index article+article,body.post.text.index article+article,body.archive.index article+article {
	padding-top:2em
}
body.index.index article+article h2,body.post.text.index article+article h2,body.archive.index article+article h2,body.index.index article:last-of-type h2,body.post.text.index article:last-of-type h2,body.archive.index article:last-of-type h2 {
	font-size:1.5em;
	line-height:1.375em;
	padding-bottom:0
}
body.index.index article:last-of-type+div,body.post.text.index article:last-of-type+div,body.archive.index article:last-of-type+div {
	padding:2em 0
}
body.index p.meta,body.post.text p.meta,body.archive p.meta {
	display:none
}
body.index div.archive-intro,body.post.text div.archive-intro,body.archive div.archive-intro {
	background:#f6f6f6;
	padding-bottom:2em
}
body.index.archive div.container,body.post.text.archive div.container,body.archive.archive div.container {
	padding-top:2%
}
body.index.archive article h2,body.post.text.archive article h2,body.archive.archive article h2 {
	font-size:1.5em;
	line-height:1.375em;
	padding-bottom:0
}
body.index.archive article:last-child,body.post.text.archive article:last-child,body.archive.archive article:last-child {
	border:none;
	padding-bottom:2em
}
body.index.archive div.container>div.bucketed,body.post.text.archive div.container>div.bucketed,body.archive.archive div.container>div.bucketed {
	border-top:10px solid #f6f6f6;
	padding:2em 0
}
body.index a.permalink,body.post.text a.permalink,body.archive a.permalink {
	border:none;
	background:#0cf;
	color:#fff;
	padding:.5em 0;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:2em
}
body.index #archive-section .excerpt,body.post.text #archive-section .excerpt,body.archive #archive-section .excerpt {
	display:none
}
body.index div.recent-posts,body.post.text div.recent-posts,body.archive div.recent-posts {
	background:#333;
	color:#fff;
	margin-top:4em
}
body.index div.recent-posts h4,body.post.text div.recent-posts h4,body.archive div.recent-posts h4 {
	padding-bottom:0
}
body.index div.recent-posts div.mobile-nav,body.post.text div.recent-posts div.mobile-nav,body.archive div.recent-posts div.mobile-nav,body.index div.recent-posts div.bucketed,body.post.text div.recent-posts div.bucketed,body.archive div.recent-posts div.bucketed {
	background:#222;
	padding:0 0 2em
}
body.index div.recent-posts div.bucketed,body.post.text div.recent-posts div.bucketed,body.archive div.recent-posts div.bucketed {
	display:none;
	padding:2em 0
}
body.index div.recent-posts div.mobile-nav ul,body.post.text div.recent-posts div.mobile-nav ul,body.archive div.recent-posts div.mobile-nav ul {
	margin:1em 0
}
body.index div.recent-posts a,body.post.text div.recent-posts a,body.archive div.recent-posts a {
	color:#fff
}
body.index div.recent-posts a:hover,body.post.text div.recent-posts a:hover,body.archive div.recent-posts a:hover {
	color:#0cf
}
body.index div.recent-posts article,body.post.text div.recent-posts article,body.archive div.recent-posts article {
	padding-bottom:2em
}
body.index div.recent-posts article h2,body.post.text div.recent-posts article h2,body.archive div.recent-posts article h2 {
	font-size:1.5em;
	line-height:1.2em
}
body.index div.recent-posts article+article+article,body.post.text div.recent-posts article+article+article,body.archive div.recent-posts article+article+article {
	display:none
}
body.index.archive div.recent-posts,body.post.text.archive div.recent-posts,body.archive.archive div.recent-posts {
	display:none
}
@media screen and (min-width:750px) {
	body.index,body.post.text,body.archive {
		padding:0 10%
	}
	body.index h2,body.post.text h2,body.archive h2,body.index h3,body.post.text h3,body.archive h3,body.index h4,body.post.text h4,body.archive h4,body.index p,body.post.text p,body.archive p,body.index ul,body.post.text ul,body.archive ul {
		padding-left:34%
	}
	body.index blockquote,body.post.text blockquote,body.archive blockquote {
		margin-left:34%
	}
	body.index blockquote p,body.post.text blockquote p,body.archive blockquote p {
		padding-left:4%
	}
	body.index ul,body.post.text ul,body.archive ul {
		margin-left:1.25em
	}
	body.index header,body.post.text header,body.archive header {
		padding-top:20%
	}
	body.index header div.portrait,body.post.text header div.portrait,body.archive header div.portrait {
		display:block;
		left:5%;
		top:30%;
		width:25%
	}
	body.index header.compact div.portrait,body.post.text header.compact div.portrait,body.archive header.compact div.portrait {
		display:block;
		top:2em
	}
	body.index header h1,body.post.text header h1,body.archive header h1 {
		padding:0 4% 0 34%
	}
	body.index header p,body.post.text header p,body.archive header p {
		float:left;
		margin-left:34%;
		padding:1em 0;
		width:30%
	}
	body.index header nav,body.post.text header nav,body.archive header nav {
		float:left;
		width:32%
	}
	body.index header.compact nav ul,body.post.text header.compact nav ul,body.archive header.compact nav ul {
		padding-left:34%
	}
	body.index div.recent-posts h4,body.post.text div.recent-posts h4,body.archive div.recent-posts h4 {
		padding-left:5%
	}
	body.index div.recent-posts article,body.post.text div.recent-posts article,body.archive div.recent-posts article {
		float:left;
		padding-bottom:2em;
		padding-left:5%;
		width:47.5%
	}
	body.index div.recent-posts article h2,body.post.text div.recent-posts article h2,body.archive div.recent-posts article h2,body.index div.recent-posts article p,body.post.text div.recent-posts article p,body.archive div.recent-posts article p {
		font-size:.875em;
		padding-left:0
	}
	body.index div.recent-posts article h2,body.post.text div.recent-posts article h2,body.archive div.recent-posts article h2 {
		font-size:2em
	}
	body.index div.recent-posts div.mobile-nav,body.post.text div.recent-posts div.mobile-nav,body.archive div.recent-posts div.mobile-nav {
		display:none
	}
	body.index div.recent-posts div.bucketed,body.post.text div.recent-posts div.bucketed,body.archive div.recent-posts div.bucketed {
		display:block;
		clear:both
	}
	body.index a.permalink,body.post.text a.permalink,body.archive a.permalink {
		right:-2em
	}
	body.index p.meta,body.post.text p.meta,body.archive p.meta {
		display:block;
		left:0;
		padding-left:4%;
		position:absolute;
		width:30%
	}
	body.index article:first-child p.meta,body.post.text article:first-child p.meta,body.archive article:first-child p.meta {
		top:3.85em
	}
	body.index article+article p.meta,body.post.text article+article p.meta,body.archive article+article p.meta {
		top:2.75em
	}
	body.index #tumblr_controls,body.post.text #tumblr_controls,body.archive #tumblr_controls {
		display:block
	}
}
@media screen and (min-width:780px) {
}
@media screen and (min-width:1000px) {
	body.index,body.post.text,body.archive {
		font-size:105%;
		padding:0 15%
	}
}
@media screen and (min-width:1200px) {
	body.index div.recent-posts article,body.post.text div.recent-posts article,body.archive div.recent-posts article {
		width:29%
	}
	body.index div.recent-posts article+article,body.post.text div.recent-posts article+article,body.archive div.recent-posts article+article {
		width:35.5%
	}
	body.index div.recent-posts article+article+article,body.post.text div.recent-posts article+article+article,body.archive div.recent-posts article+article+article {
		display:block;
		padding-right:5%
	}
}
@media screen and (min-width:1500px) {
	body.index,body.post.text,body.archive {
		font-size:120%;
		padding:0 20%
	}
	body.index a,body.post.text a,body.archive a {
		border-width:2px
	}
}
@media screen and (min-width:2100px) {
	body.index,body.post.text,body.archive {
		font-size:135%;
		padding:0 25%
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	body.index,body.post.text,body.archive {
	}
}
